<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Subway</title>
   <link rel="shortcut icon" href="static/icon.png" />
    <link rel="stylesheet" href="static/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="static/styles.css">

    <script src="static/jquery.min.js"></script>
    <script type="text/javascript" src="static/jquery.mCustomScrollbar.concat.min.js"></script>
  </head>

  <body>
    <div class="chat">
      <div class="chat-title">
        <h1>Subway</h1>
        <h2>Chatbot</h2>
        <figure class="avatar">
          <img src="static/icon.png" /></figure>
      </div>
      <div class="messages">
        <div class="messages-content"></div>
      </div>
      <div class="message-box">
        <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
        <button type="submit" class="message-submit">Send</button>
      </div>

    </div>
    <div class="bg"></div>
  </body>

  <script type="text/javascript" src="static/scripts.js"></script>
</html>
